[submodule "cpp"]
	path = cpp
	url = git@github.com:XiuyeXYE/cpp.git
	branch = master


[submodule "java/mall-admin-web"]
	path = java/mall-admin-web
	url = git@github.com:XiuyeXYE/mall-admin-web.git
	branch = master

[submodule "java/mall"]
	path = java/mall
	url = git@github.com:XiuyeXYE/mall.git
	branch = master



# [submodule "TicketManagement"]
# 	path = java/TicketManagement
# 	url = git@github.com:Gene1994/TicketManagement.git

[submodule "walle-web"]
	path = walle-web
	url = git@github.com:XiuyeXYE/walle-web.git
	branch = master


[submodule "java/mall-swarm"]
	path = java/mall-swarm
	url = git@github.com:XiuyeXYE/mall-swarm.git
	branch = master







	
[submodule "java/JavaUtil"]
	path = java/JavaUtil
	url = git@github.com:XiuyeXYE/JavaUtil.git
	branch = jdk8
[submodule "java/spring5-samples"]
	path = java/spring5-samples
	url = git@github.com:XiuyeXYE/spring5-samples.git
[submodule "java/j-im"]
	path = java/j-im
	url = git@gitee.com:xiuye_engineer/j-im.git
[submodule "java/spring-boot-pay"]
	path = java/spring-boot-pay
	url = git@gitee.com:xiuye_engineer/spring-boot-pay.git
[submodule "java/vhr"]
	path = java/vhr
	url = git@github.com:XiuyeXYE/vhr.git
[submodule "java/NiceFish"]
	path = java/NiceFish
	url = git@gitee.com:mumu-osc/NiceFish.git
